.hero {
    font-size: 60px;
    color: red;
    font-weight: 700;
}

.link-curent {
    color: blueviolet;
}

.text-decor {
    text-decoration-line: underline;
}

.color-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    width: 100px;
}
.box {
    width: 100px;
    height: 100px;
}

.js-color-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.friend-item {
    list-style: none;
    border: 1px solid black;
    padding: 3px;
    margin: 2px;
    width: fit-content;
    min-width: 200px;
    background-color: plum;
    border-radius: 5px;
}